<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Auth0ClientId</key>
	<string>rwah022fY6bSPr5gstiKqPAErQjgynT2</string>
	<key>Auth0Domain</key>
	<string>login.swapp.fit</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Swapp</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.swapp.swappfit.auth0</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.98784636409-oqfm45lm232cj4e5k8f8751i1lhg8ljt</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>swapp</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>15.1</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSPinnedDomains</key>
		<dict>
			<key>api.swapp.fit</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<false/>
				<key>NSPinnedLeafIdentities</key>
				<array>
					<dict>
						<key>SPKI-SHA256-BASE64</key>
						<string>li99NRRj8pe0j/o0URlEp3+HfyoHZ9Lxo6s/ADNA+R0=</string>
					</dict>
				</array>
				<key>NSPinnedCAIdentities</key>
				<array>
					<dict>
						<key>SPKI-SHA256-BASE64</key>
						<string>kIdp6NNEd8wsugYyyIYFsi1ylMCED3hZbSR8ZFsa/A4=</string>
					</dict>
					<dict>
						<key>SPKI-SHA256-BASE64</key>
						<string>mEflZT5enoR1FuXLgYYGqnVEoZvmf9c2bVBpiOjYQ0c=</string>
					</dict>
				</array>
			</dict>
			<key>test-api.swapp.fit</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<false/>
				<key>NSPinnedLeafIdentities</key>
				<array>
					<dict>
						<key>SPKI-SHA256-BASE64</key>
						<string>li99NRRj8pe0j/o0URlEp3+HfyoHZ9Lxo6s/ADNA+R0=</string>
					</dict>
				</array>
				<key>NSPinnedCAIdentities</key>
				<array>
					<dict>
						<key>SPKI-SHA256-BASE64</key>
						<string>kIdp6NNEd8wsugYyyIYFsi1ylMCED3hZbSR8ZFsa/A4=</string>
					</dict>
					<dict>
						<key>SPKI-SHA256-BASE64</key>
						<string>mEflZT5enoR1FuXLgYYGqnVEoZvmf9c2bVBpiOjYQ0c=</string>
					</dict>
				</array>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>SwappFit needs camera access to take profile pictures and gym videos.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>SwappFit needs access to read your health data (like steps and active energy) to sync your workouts and track your daily activity levels.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>SwappFit needs permission to write health data to record your Swapp workouts in Apple Health.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>SwappFit needs access to your location to find and display nearby gym partners and show your position on the map.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>SwappFit needs access to your location to find and display nearby gym partners and show your position on the map.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>SwappFit needs access to your location to find and display nearby gym partners and show your position on the map.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>SwappFit needs access to save photos to your library.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>SwappFit needs access to your photo library to upload profile pictures and gym content.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>SwappFit uses your device data to track app performance, measure diagnostic analytics, and provide a personalized experience.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>RCTNewArchEnabled</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>Fontisto.ttf</string>
		<string>Octicons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome6_Regular.ttf</string>
		<string>Entypo.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>AntDesign.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>Zocial.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>FontAwesome6_Solid.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>FontAwesome6_Brands.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>BRLNSR.TTF</string>
		<string>BRLNSB.TTF</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
